<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Document</title>
  </head>
  <body>
      <div id="bg"></div>
      <header>
        <a id="logoImage" href="#"></a>
      </header>
      
      <main>
        <section id="loginSection">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div>
                <input class="loginInput" type="text" placeholder="Username" formControlName="username"> 
                <div *ngIf="submitted && loginForm.controls.username.errors" class="error">
                  <div id="usernameFailed" class="inputFailedMessage" *ngIf="loginForm.controls.username.errors.required">Username is required</div>
                </div>
              </div>
              
              <div>
                <input class="loginInput" type="password" placeholder="Password" formControlName="password">
                <div *ngIf="submitted && loginForm.controls.password.errors" class="error">
                  <div id="passwordFailed" class="inputFailedMessage" *ngIf="loginForm.controls.password.errors.required">Password is required</div>
                </div>
              </div>
              <div class="loginButtonDIV">
                <button class="loginButton">
                    <span>Login</span>
                </button>
              </div>
              <a routerLink="/home" id="continueAsGuest">Continue as Guest</a>
            </form>
        </section>
        <section id="primary">
            <h1>Your Personal Assistant</h1>
            <p>Get help with your daily life stuff.</p>
            <h4>Follow us on social media!</h4>
            <div class="social-btns">
              <a class="btn facebook" id="facebookImage" ></a>
              <a class="btn twitter" id="twitterImage"></a>
              <a class="btn google" id="googleImage"></a>
              <a class="btn dribbble" id="dribbleImage"></a>
              <a class="btn skype" id="skypeImage"></a>
            </div>
        </section>
      </main>
  </body>
</html>
